/* Colors */
$red: #ea5334;
$blue: #6fbaf5;
$yellow: #ebc116;
$peach: #e18f47;
$slightly-peach: #f7f0eb;
$pink: #e6b0a2;
$light-green: #1b9665;
$dark-green: #035636;

/* Typography */
$sans-serif: 'Montserrat', -apple-system, sans-serif;
$title-text: 'Shrikhand', sans-serif;
