$red: #EA5334;
$blue: #6FBAF5;
$yellow: #EBC116;
$peach: #E18F47;
$light-green: #1B9665;
$dark-green: #035636;

$sans-serif: 'Montserrat', -apple-system, sans-serif;
$title-text: 'Shrikhand', sans-serif;
$data-text: 'Averia Serif Libre', sans-serif;
